html {
  background: rgb(230, 212, 250);
  background: radial-gradient(
    circle,
    rgba(230, 212, 250, 1) 3%,
    rgba(218, 196, 249, 1) 100%
  );
  height: 100%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 60%;
  color: #312e52;
}

.container {
  width: 300px;
  background-color: #f9fafd;
  border-radius: 40px;
  margin: 15px auto;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-style {
  padding: 10px;
}
.text-input-style {
  height: 25px;
  width: 100%;
  border: 1px solid #dac4f9;
  border-radius: 6px;
}
#header {
  color: #312e52;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

#btn {
  height: 40px;
  width: 40%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid #312e52;
  background: #312e52;
  color: #f9fafd;
  font-size: 16px;  
  font-weight: bold;
    transition-duration: 0.4s;
}

#btn:hover {
    background-color: #DAC4F9;
      border: 1px solid #DAC4F9;
  color: #312e52;
}

.per-person {
  font-weight: bold;
}
